<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" href="../static/dashboard_stylesheet.css">
</head>

<body>

    <header>
        <div class="dashboard-title">E-Commerce Data Dashboard</div>
    </header>

    <div class='container'>

        <section>
            <div class="chart-row">
                <div class="chart-container full-width">
                    <h2>Orders Over Time</h2>
                    <canvas id="ordersChart"></canvas>
                </div>
            </div>
        </section>

        <section>
            <div class="chart-row">
                <div class="chart-container half-width">
                    <h2>Low Stock Levels</h2>
                    <canvas id="stockChart"></canvas>
                </div>
                <div class="chart-container half-width">
                    <h2>Most Popular Products</h2>
                    <canvas id="popularProductsChart"></canvas>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="footer">© 2023 CCL Eccomerce Dashboard</div>
    </footer>


    <script>

        // Fetch and render orders over time chart
        fetch('/api/orders_over_time')
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById('ordersChart').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.dates,
                        datasets: [{
                            label: 'Number of Orders',
                            data: data.counts,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day'
                                }
                            },
                            y: {
                                beginAtZero: true
                            }
                        }
                    }

                });
            });

        // Fetch and render low stock levels chart
        fetch('/api/low_stock_levels')
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById('stockChart').getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.products,
                        datasets: [{
                            label: 'Stock Quantity',
                            data: data.quantities,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true
                            },
                            x: {
                                display: false  // This will hide the x-axis labels
                            }
                        }
                    }
                });
            });

        // Fetch and render most popular products bar chart
        fetch('/api/most_popular_products')
            .then(response => response.json())
            .then(data => {
                const productNames = data.map(item => item.product_name);
                const quantities = data.map(item => item.total_quantity);

                const ctx = document.getElementById('popularProductsChart').getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: productNames,
                        datasets: [{
                            label: 'Quantity Sold',
                            data: quantities,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            },
                            x: {
                                display: false  // This will hide the x-axis labels
                            }
                        }
                    }
                });
            });

    </script>
</body>

</html>